
.vs/

Core/EmirSacOtomotiv.Application/bin/

Core/EmirSacOtomotiv.Application/obj/

Core/EmirSacOtomotiv.Domain/bin/

Core/EmirSacOtomotiv.Domain/obj/

Infrastructure/EmirSacOtomotiv.Infrastructure/bin/

Infrastructure/EmirSacOtomotiv.Infrastructure/obj/

Infrastructure/EmirSacOtomotiv.Persistence/bin/

Infrastructure/EmirSacOtomotiv.Persistence/obj/

Infrastructure/EmirSacOtomotiv.Persistence/Migrations/

Presentation/EmirSacOtomotiv.Api/bin/

Presentation/EmirSacOtomotiv.Api/obj/

Presentation/EmirSacOtomotiv.Api/wwwroot/
